#formulario-editar {
    margin-top: 20px;
    width: 600px;
    height: 630px;
 }


 
 .card {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    position: absolute;
    left: 50%;
    top: 60%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
 }